.col-1{
  color: #0ba2cd;
}
.col-2{
 color: #ef314e;
}
.col-3{
 color: #f9c121;
}
.col-4{
 color: #a93472;
}
.col-5{
 color: #0ba6d4;
}
.col-6{
 color: #31a988;
}
.col-7{
 color: #5530a4;
}
.col-8{
 color: #0c855c;
}
.col-9{
 color: #147dd4;
}
.bg-hire{
 background-color:#0ba6d4 ;
 &:hover{
  background-color: #0980a4;
 }
}