@import "../../mixins";
.me{
  height: 18rem;
  border-radius: 50rem;
  @include Respond(phone){
    height: 16rem;
    border-radius: 10rem;
  }
}
.hero{
  background-color: #0d0d0d;
  transition: all .3s;
  height: 80vh;
  position: relative;
  //width: 100vw;
  .hero-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
    z-index: 100;
  }
  &-text{
    margin-left: 3rem;
    h2{
      font-size: 3rem;
      background-image: linear-gradient(15deg, #ef729e, #9a54ea,#147dd4, #14d4be);
      -webkit-background-clip: text;
      color: transparent;
      span{
        font-size: 1.15rem;
        display: block;
        font-weight: normal;
        color: white;
      }
    }
    .highBtn{
      border: none;
      padding: 1rem 1.8rem;
      border-radius: 250rem;
      background-color: #0980a4;
      font-size: 1.35rem;
      font-weight: bold;
      margin: 1rem 0;
      color: #f9f9f9;
      transition: all .35s;
      &:hover{
        background-color: #086889;
        color: white;
      }
      &:focus{
        outline: none;
      }
    }
  }
}