.purpose{
  padding: 2rem 5rem;
  h2{
    hr{
      padding: 0.2rem  1rem;
      border-radius: 200rem;
      display: block;
      background-color: #272727;
      width: 10rem;
    }
    p{
      font-size: 1.8rem;
      font-weight: bold;
    }
  }
}