@import "../../mixins";
.reviewImg{
  width: 40%;
  border-radius: 2rem;
  @include Respond(tab-port){
    width: 70%;
  }
}
.reviewR{
 //color: #0b0b0b;
  font-size: 1rem;
  font-style: italic;
  font-family: Raleway,Lato,sans-serif;
}
.reviewD{
  //color: #0b0b0b;
}
.reviewN{
  //color: #0b0b0b;
  font-weight: bold;
  font-size: 1.1rem;
  text-transform: capitalize;
padding: 0.3rem 0;
}
.review{
  padding: 2rem 0;
h2{
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  hr{
    padding: 0.5rem  1rem;
    border-radius: 200rem;
    display: block;
    width: 10rem;
    background-color: #ffffff;
    border: none;
    margin-bottom: 0.5rem;
  }
  p{
    font-size: 1.8rem;
    font-weight: bold;
  }
}
}
.review-flex{
  display: flex;
  justify-content: space-between;
  background-color: #0d0d0d;
  padding: 2rem 5rem;
  //border-radius: 2rem;
  margin: 2rem 0;
  @include Respond(tab-port){
    flex-direction: column;
    padding: 2rem 0;
  }
}
.reviewBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .35s;
  padding: 2rem 0;
  @include Respond(tab-port) {
    flex: 1;
    text-align: center;
    padding: 1rem;
  }
  &:hover{
    transform: scale(1.1);
    border-radius: 2rem;
    background-image: linear-gradient(60deg, #050505, #090909);
  }
}