@import "../mixins";

.logo{
  font-size: 1.25rem;
  background-color: #f5f5f5;
  padding: 0.8rem 1.5rem;
  border-radius: 250rem;
  font-weight: bold;
  text-transform: capitalize;
}

.navigation-box{
  padding: 0 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include Respond(tab-port){
    flex-direction: column;
    padding: 1rem 0;
  }
  .menu{
    display: none;
  }
  .menu ~ .navigation-list{
    @include Respond(tab-port){
      display: none;
    }
  }
  .menu:checked ~ .navigation-list{
    display: flex;
  }
  .menu ~ .bar > .menu-bars::before{

    transform: rotate(0deg);
  }
  .menu ~ .bar > .menu-bars::after{
    transform: rotate(0deg);
  }
  .menu:checked ~ .bar > .menu-bars::before{
    transform: rotate(-50deg);
  }
  .menu:checked ~ .bar > .menu-bars::after{

    transform: rotate(50deg);
  }
  .bar{
    position: fixed;
    top: 3rem;
    right: 4rem;
    z-index: 250;
  }
  .menu-bars{
    &::before,&::after{
      width: 3rem;
      height: 8px;
      background-color: #61d6fa;
      position: absolute;
      left: 0;
      cursor: pointer;
      transition: all .3s;
      display: none;
      border-radius: 10rem;

      @include Respond(tab-port){
        display: block;
      }
    }
    &{
      left: .5rem;
      top: 0;
    }
    &::before,&::after{
      content: '';
    }
    &::before{
      top: -0.5rem
    }
    &::after{
      top: 0.5rem;
    }
  }


  .navigation-list{
    list-style: none;
    display: flex;
    flex: 0.8;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all .5s ease-in-out;
    @include Respond(tab-port){
      flex-direction: column;
      justify-content: normal;
      flex: 0.45;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-image: linear-gradient(-60deg, #f9f9f9, #c0c0c0);
      z-index: 200;
      padding: 1rem;
      //border-radius: 8px;
      height: 100%;

    }
    .navigation-item{
      //color: #ffffff;
      padding: 0.6rem 1.5rem;
      font-size: 1.15rem;
      margin: 1.2rem 0;
      transition: all .35s;
      background-color: #f5f5f5;
      border-radius: 250rem;
      @include Respond(tab-port){
        font-size: 1.8rem;
      }
      &:hover{
        color:#ffd700;
       background-color: #9d9d9d;
      }
    }
  }
  .auth-btn-box{
    padding: 2rem 0;
    @include Respond(tab-port){
      text-align: center;

    }
    .auth-btn{
      &,&:link,&.Link-{
        padding: 0.5rem 1.5rem;
        border-radius: 250rem;
        border: 1px solid  #61d6fa;
        color:  #61d6fa;
        transition: all .3s;
        margin: 0 1.2rem;
        text-transform: capitalize;
        display: inline-block;
        text-align: center;
               @include Respond(tab-port){
          margin: 1.2rem;
          //padding: 1rem 2rem;
          font-size: 1.65rem;
        }
      }
      & .Link-{
        color:  #61d6fa;
      }
      &:hover .Link-{
        color: #f7f7f7;
        text-decoration: none;
      }
      &:hover,&:active{
        background-color:#53b2ce;
        //color: #0b0b0b;
        //border: 1px solid #0b0b0b;
      }
    }
  }
}